* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  background: linear-gradient(to bottom, rgb(10, 150, 10), rgb(101, 136, 20));
  min-height: 100vh;
  max-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #eaeaea;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
}

.ul-container {
  display: flex;
  list-style-type: none;
}

.ul-container > div > li  {
  font-size: 3rem;
  background-color: orange;
  margin: 2rem;
}